{% extends 'base.html' %}

{% block content %}
<main class="container" style="margin-top: 50px;">
    {% if user.is_authenticated %}
        <!-- Si el usuario está autenticado, redirige a la página de inicio -->
        <script>window.location.href = "{% url 'home' %}";</script>
    {% else %}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Registro</h1>
                <form method="POST" class="card card-body">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Ingrese su Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Usuario" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Ingrese su Contraseña</label>
                        <input type="password" name="password1" id="password1" placeholder="Contraseña" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirme su Contraseña</label>
                        <input type="password" name="password2" id="password2" placeholder="Contraseña" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Ingrese su Email</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                </form>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}
