<nav>
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Inicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/noticias/">Noticias</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'editar' %}">Editar Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
      </li>

      {% if user_can_create_news %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'crear_noticia' %}">Crear Noticia</a>
      </li>
      {% endif %}

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Regístrate</a>
      </li>
      {% endif %}
  </ul>
</nav>
