<nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noticias">Noticias</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/noticias/crear_noticia">Crear Noticia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Cerrar Sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario/editar">Editar Perfil</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Iniciar Sesion</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link">Registrate</a>
      </li>
      {% endif %}
    </ul>
  </nav>