{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'estilos/noticias.css' %}">
{% endblock css %}
{% block content %}

<h1 class="mb-4 text-center">Noticias</h1>
<a href="../" class="mb-4 btn btn-primary">Volver</a>
<div class="container">
    <div class="row justify-content-center">
        {% for noticia in noticias %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_noticia' noticia.id %}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow card-hover">
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.descripcion }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha de Subida: {{ noticia.fecha_subida }}</li>

                        {% if noticia.seleccion %}
                        <li class="list-group-item">Equipo de Fútbol: {{ noticia.seleccion }}</li>
                        {% else %}
                        <li class="list-group-item">Equipo de Fútbol: {{ noticia.equipo }}</li>
                        {% endif %}


                        <li class="list-group-item">Usuario: {{ noticia.usuario }}</li>
                    </ul>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
    <a href="/noticias/crear_noticia" class="btn btn-warning">Crear Noticia</a>
</div>

{% endblock %}
